h1 {
  display: block;
  text-align: center;
}

h3 {
  display: block;
  text-align: center;
}

.container {
  text-align: center;
  float: left;
  height: 135px;
  width: 120px;
  margin: 5px;
  margin-bottom: 25px;
}

.column {
  text-align: center;
  float: left;
  height: 135px;
  width: 120px;
  margin: 5px;
}

.cell {
  text-align: center;
  float: left;
  height: 135px;
  width: 120px;
  margin: 5px;
}

.game_piece {
  text-align: center;
  float: left;
  height: 135px;
  width: 120px;
  margin: 5px;
  border-radius: 50%;
}