body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
}

h1, h3 {
  display: block;
  text-align: center;
}

.container {
  display: flex;
  width: 1024px;
  margin: 0 auto;
}

.column {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.cell {
  width: auto;
  height: auto;
}

.game_piece {
  border-radius: 50%;
}

img {
  height: 135px;
  width: 135px;
}
